<header class="container-fluid middle-blue-back">
  <nav class="navbar navbar-expand-lg">
    <!-- ロゴ画像。あとで差し替え。 -->
    <div>
      <h1>LOGO</h1>
    </div>

    <!-- 画面幅が狭くなった時のみ出現するトグルボタン -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarFumizuki" aria-controls="navbarFumizuki" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <!-- 各種リンク。管理者ログイン時と顧客ログイン時、非ログイン時で表示切替。 -->
    <div class="collapse navbar-collapse" id="navbarFumizuki">

      <ul class="navbar-nav mr-auto w-75 nav-justified">
        <!-- 管理者 -->
        <!-- 顧客 -->
        <% if member_signed_in? %>
          <li class="nav-item"><%= link_to public_members_path do %><i class="fas fa-user"></i>マイページ<% end %></li>
          <li class="nav-item"><%= link_to public_items_path do %><i class="fas fa-cookie-bite"></i>商品一覧<% end %></li>
          <li class="nav-item"><%= link_to  do %><div class="icon-flex"><i class="icon-count text-center"></i></div><i class="cart">カート</i><% end %></li>
          <li class="nav-item"><%= link_to destroy_member_session_path, method: :delete do %><i class="fas fa-sign-out-alt"></i>ログアウト<% end %></li>
        <!-- 非ログイン -->
        <% else %>
          <li class="nav-item"><%= link_to '会社概要', public_about_url, class: 'nav-link' %></li>
          <li class="nav-item"><%= link_to '商品一覧', public_items_path, class: 'nav-link' %></li>
          <li class="nav-item"><%= link_to '新規登録', new_member_registration_path,  class: 'nav-link' %></li>
          <li class="nav-item"><%= link_to 'ログイン', new_member_session_url, class: 'nav-link' %></li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>
